Crear tablas

In [23]:
-- Eliminar la tabla Contiene (relacionada con Pedido y Productos)
DROP TABLE IF EXISTS Contiene;

-- Eliminar la tabla Pedido (relacionada con Cliente)
DROP TABLE IF EXISTS Pedido;

-- Eliminar la tabla Productos (relacionada con Restaurante)
DROP TABLE IF EXISTS Productos;

-- Eliminar la tabla Restaurante (relacionada con Propietario)
DROP TABLE IF EXISTS Restaurante;

-- Eliminar la tabla Propietario (relacionada con Usuario)
DROP TABLE IF EXISTS Propietario;

-- Eliminar la tabla Cliente (relacionada con Usuario)
DROP TABLE IF EXISTS Cliente;

-- Finalmente, eliminar la tabla Usuario
DROP TABLE IF EXISTS Usuario;

-- Eliminar la tabla Localidad (relacionada con Cliente y restaurante
DROP TABLE IF EXISTS Localidad;

-- Borrar la función que verificaba los propietarios
DROP FUNCTION IF EXISTS check_propietario;

-- Borrar la función que verificaba los clientes
DROP FUNCTION IF EXISTS check_cliente;

-- Borrar el tipo ENUM tipo_usuario
DROP TYPE IF EXISTS tipo_usuario;

In [24]:
-- Crear ENUM para el tipo de usuario
CREATE TYPE tipo_usuario AS ENUM ('Cliente', 'Propietario');

-- Crear la tabla Localidad con CIUDAD como clave primaria
CREATE TABLE Localidad (
    CIUDAD VARCHAR(100) PRIMARY KEY
);

-- Tabla Usuario con CHECK para el campo TIPO utilizando ENUM
CREATE TABLE Usuario (
    CORREO VARCHAR(100) PRIMARY KEY,
    NOMBRE_USUARIO VARCHAR(100) NOT NULL,
    CONTRASENA VARCHAR(100) NOT NULL,
    TIPO tipo_usuario NOT NULL
);


-- Modificar la tabla Cliente para hacer referencia a Localidad
CREATE TABLE Cliente (
    CORREO VARCHAR(100) PRIMARY KEY,
    LOCALIDAD VARCHAR(100),
    CALLE VARCHAR(100),
    PISO VARCHAR(10),
    NUMERO INT,
    CODIGO_POSTAL VARCHAR(10),
    FOREIGN KEY (LOCALIDAD) REFERENCES Localidad(CIUDAD),
    FOREIGN KEY (CORREO) REFERENCES Usuario(CORREO)
);

-- Tabla Propietario, heredando de Usuario
CREATE TABLE Propietario (
    CORREO VARCHAR(100) PRIMARY KEY,
    FOREIGN KEY (CORREO) REFERENCES Usuario(CORREO)
);


-- Modificar la tabla Restaurante para hacer referencia a Localidad
CREATE TABLE Restaurante (
    NOMBRE_RESTAURANTE VARCHAR(100) ,
    NUMTELEFONO VARCHAR(15),
    CATEGORIA VARCHAR(50),
    CORREO VARCHAR(100),
    LOCALIDAD VARCHAR(100) ,
    UBICATION VARCHAR(100),
    PRIMARY KEY (NOMBRE_RESTAURANTE, LOCALIDAD),
    FOREIGN KEY (LOCALIDAD) REFERENCES Localidad(CIUDAD)
);

  CREATE TABLE Pedido (
    ID INT PRIMARY KEY,
    FECHA DATE,
    PRECIO_TOTAL DECIMAL(10, 2),
    CORREO VARCHAR(100),
    FOREIGN KEY (CORREO) REFERENCES Cliente(CORREO)
    );

-- Tabla Productos
CREATE TABLE Productos (
    NOMBRE_PRODUCTO VARCHAR(100),
    DESCRIPCION TEXT, 
    PRECIO DECIMAL(10, 2),
    NOMBRE_RESTAURANTE VARCHAR(100),
    LOCALIDAD VARCHAR(100),
    PRIMARY KEY (NOMBRE_RESTAURANTE, LOCALIDAD, NOMBRE_PRODUCTO),
    FOREIGN KEY (NOMBRE_RESTAURANTE, LOCALIDAD) REFERENCES Restaurante(NOMBRE_RESTAURANTE,LOCALIDAD)
);

-- Tabla Contiene
CREATE TABLE Contiene (
    ID INT,
    NOMBRE_PRODUCTO VARCHAR(100),
    UNIDADES INT,
        NOMBRE_RESTAURANTE VARCHAR(100),
    LOCALIDAD VARCHAR(100),
    PRIMARY KEY (ID, NOMBRE_PRODUCTO,NOMBRE_RESTAURANTE, LOCALIDAD),
    FOREIGN KEY (ID) REFERENCES Pedido(ID),
    FOREIGN KEY (NOMBRE_PRODUCTO, NOMBRE_RESTAURANTE, LOCALIDAD) REFERENCES Productos(NOMBRE_PRODUCTO, NOMBRE_RESTAURANTE, LOCALIDAD)
);

In [25]:
-- Crear trigger function para verificar que solo Propietarios puedan crear restaurantes
CREATE OR REPLACE FUNCTION check_propietario() RETURNS TRIGGER AS $$
BEGIN
    -- Verificar si el usuario tiene el tipo 'Propietario'
    IF (SELECT TIPO FROM Usuario WHERE CORREO = NEW.CORREO) != 'Propietario' THEN
        RAISE EXCEPTION 'Solo los propietarios pueden crear restaurantes';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Crear trigger en la tabla cliente
CREATE TRIGGER trigger_check_propietario
BEFORE INSERT ON Propietario
FOR EACH ROW
EXECUTE FUNCTION check_propietario();

In [26]:
-- Crear trigger function para verificar que solo Clientes puedan crear pedidos
CREATE OR REPLACE FUNCTION check_cliente() RETURNS TRIGGER AS $$
BEGIN
    -- Verificar si el usuario tiene el tipo 'Cliente'
    IF (SELECT TIPO FROM Usuario WHERE CORREO = NEW.CORREO) != 'Cliente' THEN
        RAISE EXCEPTION 'Solo los clientes pueden crear pedidos';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Crear trigger en la tabla  cliente
CREATE TRIGGER trigger_check_cliente
BEFORE INSERT ON Cliente
FOR EACH ROW
EXECUTE FUNCTION check_cliente();

In [27]:

-- 10. Inserciones masivas en la tabla Localidad (ciudades)
INSERT INTO Localidad (CIUDAD)
VALUES 
    ('Zaragoza'),
    ('Madrid'),
    ('Barcelona'),
    ('Valencia'),
    ('Sevilla'),
    ('Bilbao');

-- 11. Inserciones masivas en la tabla Usuario
INSERT INTO Usuario (CORREO, NOMBRE_USUARIO, CONTRASENA, TIPO)
VALUES 
    ('juan.perez@mail.com', 'Juan Pérez', 'pass123', 'Cliente'),
    ('maria.lopez@mail.com', 'María López', 'pass234', 'Cliente'),
    ('carlos.garcia@mail.com', 'Carlos García', 'pass345', 'Propietario'),
    ('ana.gomez@mail.com', 'Ana Gómez', 'pass456', 'Propietario'),
    ('luis.fernandez@mail.com', 'Luis Fernández', 'pass567', 'Cliente'),
    ('laura.sanchez@mail.com', 'Laura Sánchez', 'pass678', 'Cliente'),
    ('jose.martinez@mail.com', 'José Martínez', 'pass789', 'Propietario'),
    ('patricia.diaz@mail.com', 'Patricia Díaz', 'pass890', 'Propietario'),
    ('rafael.alvarez@mail.com', 'Rafael Álvarez', 'pass901', 'Cliente'),
    ('andrea.lopez@mail.com', 'Andrea López', 'pass101', 'Cliente'),
    ('pablo.rivera@mail.com', 'Pablo Rivera', 'pass111', 'Propietario'),
    ('monica.garcia@mail.com', 'Mónica García', 'pass121', 'Propietario');

-- 12. Inserciones masivas en la tabla Cliente
INSERT INTO Cliente (CORREO, LOCALIDAD, CALLE, PISO, NUMERO, CODIGO_POSTAL)
VALUES 
    ('juan.perez@mail.com', 'Zaragoza', 'Calle Mayor', '3A', 3, '50001'),
    ('maria.lopez@mail.com', 'Madrid', 'Calle Real', '5B', 5, '28001'),
    ('luis.fernandez@mail.com', 'Barcelona', 'Calle Gran Vía', '2C', 2, '08001'),
    ('laura.sanchez@mail.com', 'Valencia', 'Calle Colón', '4A', 4, '46001'),
    ('rafael.alvarez@mail.com', 'Sevilla', 'Calle Feria', '1D', 1, '41001'),
    ('andrea.lopez@mail.com', 'Bilbao', 'Calle San Mamés', '3B', 3, '48001');

-- 13. Inserciones masivas en la tabla Propietario
INSERT INTO Propietario (CORREO)
VALUES 
    ('carlos.garcia@mail.com'),
    ('ana.gomez@mail.com'),
    ('jose.martinez@mail.com'),
    ('patricia.diaz@mail.com'),
    ('pablo.rivera@mail.com'),
    ('monica.garcia@mail.com');

-- 14. Inserciones masivas en la tabla Restaurante
INSERT INTO Restaurante (NOMBRE_RESTAURANTE, NUMTELEFONO, CATEGORIA, CORREO, LOCALIDAD)
VALUES 
    ('Restaurante El Sol', '987654321', 'Mexicana', 'carlos.garcia@mail.com', 'Zaragoza'),
    ('Restaurante La Luna', '912345678', 'Italiana', 'ana.gomez@mail.com', 'Madrid'),
    ('Restaurante Los Sabores', '923456789', 'Española', 'jose.martinez@mail.com', 'Barcelona'),
    ('Restaurante El Mar', '934567890', 'Mariscos', 'patricia.diaz@mail.com', 'Valencia'),
    ('Restaurante Delicias', '945678901', 'Vegetariana', 'pablo.rivera@mail.com', 'Sevilla'),
    ('Restaurante La Cima', '956789012', 'Francesa', 'monica.garcia@mail.com', 'Bilbao');

-- 15. Inserciones masivas en la tabla Productos
INSERT INTO Productos (NOMBRE_PRODUCTO, DESCRIPCION, PRECIO, NOMBRE_RESTAURANTE, LOCALIDAD)
VALUES 
    ('Tacos', 'Tacos de carne al pastor', 8.50, 'Restaurante El Sol', 'Zaragoza'),
    ('Burrito', 'Burrito de pollo', 9.00, 'Restaurante El Sol', 'Zaragoza'),
    ('Pizza Margherita', 'Pizza con tomate y albahaca', 12.00, 'Restaurante La Luna', 'Madrid'),
    ('Pizza 4 Quesos', 'Pizza con mezcla de cuatro quesos', 13.50, 'Restaurante La Luna', 'Madrid'),
    ('Paella', 'Paella de mariscos', 18.00, 'Restaurante Los Sabores', 'Barcelona'),
    ('Tortilla Española', 'Tortilla de patatas tradicional', 6.50, 'Restaurante Los Sabores', 'Barcelona'),
    ('Gambas al ajillo', 'Gambas cocinadas con ajo', 14.00, 'Restaurante El Mar', 'Valencia'),
    ('Pescado frito', 'Pescado frito con patatas', 15.50, 'Restaurante El Mar', 'Valencia'),
    ('Ensalada César', 'Ensalada César con aderezo especial', 10.00, 'Restaurante Delicias', 'Sevilla'),
    ('Tofu a la parrilla', 'Tofu marinado y asado a la parrilla', 12.50, 'Restaurante Delicias', 'Sevilla'),
    ('Coq au Vin', 'Pollo cocido en vino tinto', 17.00, 'Restaurante La Cima', 'Bilbao'),
    ('Quiche Lorraine', 'Tarta salada de tocino y queso', 14.50, 'Restaurante La Cima', 'Bilbao');

-- 16. Inserciones masivas en la tabla Pedido
INSERT INTO Pedido (ID, FECHA, PRECIO_TOTAL, CORREO)
VALUES 
    (1, '2024-10-04', 25.50, 'juan.perez@mail.com'),
    (2, '2024-10-05', 12.00, 'maria.lopez@mail.com'),
    (3, '2024-10-06', 18.50, 'luis.fernandez@mail.com'),
    (4, '2024-10-06', 23.00, 'laura.sanchez@mail.com'),
    (5, '2024-10-07', 30.00, 'rafael.alvarez@mail.com'),
    (6, '2024-10-08', 22.00, 'andrea.lopez@mail.com');

-- 17. Inserciones masivas en la tabla Contiene
INSERT INTO Contiene (ID, NOMBRE_PRODUCTO, UNIDADES, NOMBRE_RESTAURANTE, LOCALIDAD)
VALUES 
    (1, 'Tacos', 2, 'Restaurante El Sol', 'Zaragoza'),
    (1, 'Burrito', 1, 'Restaurante El Sol', 'Zaragoza'),
    (2, 'Pizza Margherita', 1, 'Restaurante La Luna', 'Madrid'),
    (2, 'Pizza 4 Quesos', 1, 'Restaurante La Luna', 'Madrid'),
    (3, 'Paella', 1, 'Restaurante Los Sabores', 'Barcelona'),
    (3, 'Tortilla Española', 2, 'Restaurante Los Sabores', 'Barcelona'),
    (4, 'Gambas al ajillo', 2, 'Restaurante El Mar', 'Valencia'),
    (5, 'Ensalada César', 1, 'Restaurante Delicias', 'Sevilla'),
    (5, 'Tofu a la parrilla', 2, 'Restaurante Delicias', 'Sevilla'),
    (6, 'Coq au Vin', 1, 'Restaurante La Cima', 'Bilbao'),
    (6, 'Quiche Lorraine', 1, 'Restaurante La Cima', 'Bilbao');

In [22]:
-- Esto debería ser rechazado porque 'juan.perez@mail.com' es un Cliente, no un Propietario
INSERT INTO Propietario (CORREO)
VALUES ('juan.perez@mail.com');

: Solo los propietarios pueden crear restaurantes

In [28]:
-- Esto debería ser rechazado porque 'carlos.garcia@mail.com' es un Propietario, no un Cliente
INSERT INTO Cliente (CORREO, LOCALIDAD, CALLE, PISO, NUMERO, CODIGO_POSTAL)
VALUES ('carlos.garcia@mail.com', 'Zaragoza', 'Calle Falsa', '3A', 3, '50001');

: Solo los clientes pueden crear pedidos